.container {
  height: 100%;
  width: 100vw;
}

.header {
  width: 100vw;
  margin-left: 32px;
  margin-right: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.group {
  display: flex;
  flex-direction: row;
  align-items: center;

}